{% extends "layout.html" %}

{% block title %}
Create Tweet
{% endblock %}

{% block content %}

<h1 class="text-center text-white">Welcome to People Tweet</h1>

<h2>
    {% if form.instance.pk %}
        Edit Tweet
    {% else %}
        Create Tweet
    {% endif %}
</h2>

<form method="POST" enctype="multipart/form-data" class="form">
    {% csrf_token %}

    {{ form.as_p }}

    <button class="btn btn-warning" type="submit">
        Submit
    </button>
</form>

<a href="{% url 'tweet_list' %}" class="btn btn-secondary mt-3">
    Back to Tweet List
</a>

{% endblock %}